<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>tightnessServlet</servlet-name>
    <servlet-class>tighties.server.TightnessServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tightnessServlet</servlet-name>
    <url-pattern>/tighties/tightness</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Tighties.html</welcome-file>
  </welcome-file-list>
</web-app>
